# Get these from https://developer.spotify.com/dashboard -> your app -> Settings
SPOTIFY_CLIENT_ID==
SPOTIFY_CLIENT_SECRET=


# Must EXACTLY match a Redirect URI you added in the Spotify dashboard
REDIRECT_URI=http://127.0.0.1:8888/callback

# Any random long string, used to sign the temporary OAuth session cookie
SESSION_SECRET=change-this-to-something-random

PORT=8888
